<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.edu.zjnu.STService.Dao.FirmMapper" >
  <resultMap id="BaseResultMap" type="cn.edu.zjnu.STService.Model.Firm" >
    <constructor >
      <idArg column="Id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="Name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="Address" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="PostId" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="DocUrl" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="OpenBank" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="Account" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="AccountNo" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="CityId" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="CountyId" jdbcType="INTEGER" javaType="java.lang.Integer" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    Id, Name, Address, PostId, DocUrl, OpenBank, Account, AccountNo, CityId, CountyId
  </sql>

  <!--1、查找公司，查找公司是否已存在-->
  <select id="findOneByName" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from firm
    where Name =  #{name,jdbcType=VARCHAR}
  </select>

  <!--2、增加新公司-->
  <insert id="add" parameterType="cn.edu.zjnu.STService.Model.Firm" >
    insert into firm (Id, Name, Address, 
      PostId, DocUrl, OpenBank, 
      Account, AccountNo, CityId, 
      CountyId)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, 
      #{postid,jdbcType=VARCHAR}, #{docurl,jdbcType=VARCHAR}, #{openbank,jdbcType=VARCHAR}, 
      #{account,jdbcType=VARCHAR}, #{accountno,jdbcType=VARCHAR}, #{cityid,jdbcType=INTEGER}, 
      #{countyid,jdbcType=INTEGER})
  </insert>

  <!--3、删除公司-->
  <delete id="delById" parameterType="java.lang.Integer" >
    delete from firm
    where Id = #{id,jdbcType=INTEGER}
  </delete>

  <!--4、修改公司信息-->
  <update id="updateById" parameterType="cn.edu.zjnu.STService.Model.Firm" >
    update firm
    set Name = #{name,jdbcType=VARCHAR},
      Address = #{address,jdbcType=VARCHAR},
      PostId = #{postid,jdbcType=VARCHAR},
      DocUrl = #{docurl,jdbcType=VARCHAR},
      OpenBank = #{openbank,jdbcType=VARCHAR},
      Account = #{account,jdbcType=VARCHAR},
      AccountNo = #{accountno,jdbcType=VARCHAR},
      CityId = #{cityid,jdbcType=INTEGER},
      CountyId = #{countyid,jdbcType=INTEGER}
    where Id = #{id,jdbcType=INTEGER}
  </update>
</mapper>