<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.zjnu.STService.Dao.MaterialdirMapper">
  <resultMap id="BaseResultMap" type="cn.edu.zjnu.STService.Model.Materialdir">
    <constructor>
      <idArg column="MaterialDirId" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="MaterialName" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="MaterialUrl" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="UploadTime" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    MaterialDirId, MaterialName, MaterialUrl, UploadTime
  </sql>

  <select id="findOneById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from materialdir
    where MaterialDirId = #{materialdirid,jdbcType=INTEGER}
  </select>

  <delete id="delById" parameterType="java.lang.Integer">
    delete from materialdir
    where MaterialDirId = #{materialdirid,jdbcType=INTEGER}
  </delete>

  <insert id="add" parameterType="cn.edu.zjnu.STService.Model.Materialdir">
    insert into materialdir (MaterialDirId, MaterialName, MaterialUrl, 
      UploadTime)
    values (#{materialdirid,jdbcType=INTEGER}, #{materialname,jdbcType=VARCHAR}, #{materialurl,jdbcType=VARCHAR}, 
      #{uploadtime,jdbcType=VARCHAR})
  </insert>

  <update id="updateById" parameterType="cn.edu.zjnu.STService.Model.Materialdir">
    update materialdir
    set MaterialName = #{materialname,jdbcType=VARCHAR},
      MaterialUrl = #{materialurl,jdbcType=VARCHAR},
      UploadTime = #{uploadtime,jdbcType=VARCHAR}
    where MaterialDirId = #{materialdirid,jdbcType=INTEGER}
  </update>

  <!--统计同份文件，已上传次数，模糊查询“材料名_*”-->
  <select id="count"  resultType="integer">
    SELECT COUNT(1)
    FROM materialdir
    WHERE MaterialDirId = #{materialdirid,jdbcType=INTEGER} and  MaterialName LIKE CONCAT(#{materialname,jdbcType=VARCHAR},"%")
  </select>

  <!--通过文件名和材料目录ID，找到某个材料对象-->
  <select id="findOneBydirIdAndName" resultMap="BaseResultMap">
    SELECT <include refid="Base_Column_List" />
    FROM  materialdir
    WHERE MaterialDirId = #{materialdirid,jdbcType=INTEGER} and MaterialName = #{materialname,jdbcType=VARCHAR}
  </select>
</mapper>