<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.edu.zjnu.STService.Dao.ServiceteamMapper" >
  <resultMap id="BaseResultMap" type="cn.edu.zjnu.STService.Model.Serviceteam" >
    <constructor >
      <idArg column="Id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="Name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="Address" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="Memo" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="OpenBank" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="Account" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="AccountNo" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="CityId" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="CountyId" jdbcType="INTEGER" javaType="java.lang.Integer" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    Id, Name, Address, Memo, OpenBank, Account, AccountNo, CityId, CountyId
  </sql>
  <!--1、查找服务团队-->
  <select id="findOneByName" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from serviceteam
    where Name = #{name,jdbcType=VARCHAR}
  </select>
  <!--2、删除服务团队-->
  <delete id="delById" parameterType="java.lang.Integer" >
    delete from serviceteam
    where Id = #{id,jdbcType=INTEGER}
  </delete>
  <!--3、添加服务团队-->
  <insert id="add" parameterType="cn.edu.zjnu.STService.Model.Serviceteam" >
    insert into serviceteam (Id, Name, Address, 
      Memo, OpenBank, Account, 
      AccountNo, CityId, CountyId
      )
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, 
      #{memo,jdbcType=VARCHAR}, #{openbank,jdbcType=VARCHAR}, #{account,jdbcType=VARCHAR}, 
      #{accountno,jdbcType=VARCHAR}, #{cityid,jdbcType=INTEGER}, #{countyid,jdbcType=INTEGER}
      )
  </insert>
 <!--4、更新服务团队信息-->
  <update id="updateById" parameterType="cn.edu.zjnu.STService.Model.Serviceteam" >
    update serviceteam
    set Name = #{name,jdbcType=VARCHAR},
      Address = #{address,jdbcType=VARCHAR},
      Memo = #{memo,jdbcType=VARCHAR},
      OpenBank = #{openbank,jdbcType=VARCHAR},
      Account = #{account,jdbcType=VARCHAR},
      AccountNo = #{accountno,jdbcType=VARCHAR},
      CityId = #{cityid,jdbcType=INTEGER},
      CountyId = #{countyid,jdbcType=INTEGER}
    where Id = #{id,jdbcType=INTEGER}
  </update>
</mapper>