<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.edu.zjnu.STService.Dao.UserServicetMapper" >
  <resultMap id="BaseResultMap" type="cn.edu.zjnu.STService.Model.UserServicet" >
    <constructor >
      <idArg column="Id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="UserName" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="Password" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="SvtId" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="RoleId" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="RealName" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="IdCard" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="PhoneNum" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="QQ" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="CreatTime" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="IsDelet" jdbcType="INTEGER" javaType="java.lang.Integer" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    Id, UserName, Password, SvtId, RoleId, RealName, IdCard, PhoneNum, QQ, CreatTime,
    IsDelet
  </sql>
  <!--1、查找服务团队用户-->
  <select id="findOneByName" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from user_servicet
    where UserName = #{username,jdbcType=VARCHAR}
  </select>
  <!--2、删除服务团队用户-->
  <delete id="delById" parameterType="java.lang.Integer" >
    delete from user_servicet
    where Id = #{id,jdbcType=INTEGER}
  </delete>
  <!--3、添加服务团队用户-->
  <insert id="add" parameterType="cn.edu.zjnu.STService.Model.UserServicet" >
    insert into user_servicet (Id, UserName, Password,
      SvtId, RoleId, RealName, 
      IdCard, PhoneNum, QQ, 
      CreatTime, IsDelet)
    values (#{id,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR},
      #{svtid,jdbcType=INTEGER}, #{roleid,jdbcType=INTEGER}, #{realname,jdbcType=VARCHAR}, 
      #{idcard,jdbcType=VARCHAR}, #{phonenum,jdbcType=VARCHAR}, #{qq,jdbcType=VARCHAR}, 
      #{creattime,jdbcType=TIMESTAMP}, #{isdelet,jdbcType=INTEGER})
  </insert>
  <!--4、更新服务团队用户个人信息-->
  <update id="updateById" parameterType="cn.edu.zjnu.STService.Model.UserServicet" >
    update user_servicet
    set UserName = #{username,jdbcType=VARCHAR},
      Password = #{password,jdbcType=VARCHAR},
      SvtId = #{svtid,jdbcType=INTEGER},
      RoleId = #{roleid,jdbcType=INTEGER},
      RealName = #{realname,jdbcType=VARCHAR},
      IdCard = #{idcard,jdbcType=VARCHAR},
      PhoneNum = #{phonenum,jdbcType=VARCHAR},
      QQ = #{qq,jdbcType=VARCHAR},
      CreatTime = #{creattime,jdbcType=TIMESTAMP},
      IsDelet = #{isdelet,jdbcType=INTEGER}
    where Id = #{id,jdbcType=INTEGER}
  </update>
</mapper>