<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.edu.zjnu.STService.Dao.UserBgMapper" >
  <resultMap id="BaseResultMap" type="cn.edu.zjnu.STService.Model.UserBg" >
    <constructor >
      <idArg column="Id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="UserName" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="Password" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="RoleId" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="RealName" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="IdCard" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="PhoneNum" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="QQ" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="CreatTime" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="IsDelet" jdbcType="INTEGER" javaType="java.lang.Integer" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    Id, UserName, Password, RoleId, RealName, IdCard, PhoneNum, QQ, CreatTime, IsDelet
  </sql>
  <!--1、查找后台用户-->
  <select id="findOneByName" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from user_bg
    where UserName = #{username,jdbcType=VARCHAR}
  </select>
  <!--2、删除后台用户-->
  <delete id="delById" parameterType="java.lang.Integer" >
    delete from user_bg
    where Id = #{id,jdbcType=INTEGER}
  </delete>
  <!--3、添加后台用户个人信息-->
  <insert id="add" parameterType="cn.edu.zjnu.STService.Model.UserBg" >
    insert into user_bg (Id, UserName, Password, 
      RoleId, RealName, IdCard, 
      PhoneNum, QQ, CreatTime, 
      IsDelet)
    values (#{id,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{roleid,jdbcType=INTEGER}, #{realname,jdbcType=VARCHAR}, #{idcard,jdbcType=VARCHAR}, 
      #{phonenum,jdbcType=VARCHAR}, #{qq,jdbcType=VARCHAR}, #{creattime,jdbcType=TIMESTAMP}, 
      #{isdelet,jdbcType=INTEGER})
  </insert>
 <!--4、更新后台用户个人信息-->
  <update id="updateById" parameterType="cn.edu.zjnu.STService.Model.UserBg" >
    update user_bg
    set UserName = #{username,jdbcType=VARCHAR},
      Password = #{password,jdbcType=VARCHAR},
      RoleId = #{roleid,jdbcType=INTEGER},
      RealName = #{realname,jdbcType=VARCHAR},
      IdCard = #{idcard,jdbcType=VARCHAR},
      PhoneNum = #{phonenum,jdbcType=VARCHAR},
      QQ = #{qq,jdbcType=VARCHAR},
      CreatTime = #{creattime,jdbcType=TIMESTAMP},
      IsDelet = #{isdelet,jdbcType=INTEGER}
    where Id = #{id,jdbcType=INTEGER}
  </update>
</mapper>